.container {
    margin: 40px;
    width: 600px;
}

.avatar {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 12px;
}

.user-container {
    display: flex;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content {
    text-align: left;
}

.images {
    display: flex;
}

.images img {
    flex: 1 1;
    max-height: 512px;
    width: 0;
}

.likes-container {
    display: flex;
    justify-content: space-between;
}

.actions-container {
    display: flex;
    justify-content: space-around;
}

