

   .container {
    width: 1120px;

    font-size: 1rem;
    margin: 48px auto;
   border:  1px solid rgba(108, 122, 137, .3);
   padding: 16px;
}



.content {
    text-align: left;
    margin-bottom: 16px;
}



.likes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 25px;
    margin-left: 25px;
}

.actions-container {
    display: flex;
    justify-content: space-around;
}


