
.likes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 25px;
    margin-left: 25px;
}


.l-c {
  display: flex;
  align-items: center;
}

.l-c img {
  margin-right: 8px;
}